html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --nav-footer-colot: rgba(255, 255, 255, 0.6);
  --primary-background-color: #f5f4fa;
  --secondary-backgound-color: #f5f4fa;
  --hero-footer-background: #2f303a;
  --border-color: #eeeeee;
  --animation: 250ms ease-in;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: #ffffff;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Утиліти класів */

.link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  transition: color var(--animation);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h3,
h2,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
}

/* < !-- Шапка сайта --> */
.top-navigation {
  display: flex;
  align-items: center;
}

.border {
  border-bottom: 1px solid #ECECEC;
}

/* logo */
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  transition: color var(--animation);
}

.logo-interactive {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.top-conection {
  display: flex;
  margin-left: 94px;
}

.top-conection>.item:not(:last-child) {
  margin-right: 55px;
}

.top-contacts {
  display: flex;
  margin-left: auto;
}

.top-contacts>.item:not(:last-child) {
  margin-right: 50px;
}

.top-contacts {
  display: flex;
  margin-left: auto;
}

.top-contacts>.item:not(:last-child) {
  margin-right: 50px;
}

/* Псевтоелемент */
.nav-link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
}

.nav-link.current{
  position: relative;
  color: var(--accent-color);
}

.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contacts {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.icon-contacts {
  margin-right: 10px;
  fill: currentColor;
}


/* Секція герой */
.hero {
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.png);
  background-color: var(--hero-footer-background);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin: 0 auto 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  padding: 10px 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: color var(--animation), background-color var(--animation);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/*Наші переваги */
.about-us {
  padding-top: 94px;
}

.about-us-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.about-us-list>.item {
  flex-basis: calc((100% - 30px * 4) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.about-us-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.about-us-title+p {
  color: var(--secondary-text-color);
}

.about-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}


/* Чим ми займаємось */
.our-work-list {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.our-work-list>.item-works {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.item-works{
  position: relative;
}

.our-works-text{
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  min-height: 70px;

  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* наша команда */
.our-team {
  background-color: var(--primary-background-color);
}

.sections-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-text-color);
}

.list-team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-member {
  flex-basis: calc((100% - 30px * 4) / 4);
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--primary-text-color);
}

.list-team+p {
  margin: 0;
  color: var(--secondary-text-color);
}

.social-icon .icon {
  width: 20px;
  height: 20px;
}


.social-icon-item {
  width: 44px;
  height: 44px;
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #AFB1B8;
  background-color: #ffffff;
  transition: fill var(--animation), background-color var(--animation);
}

.social-icon>.social-icon-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  display: inline-flex;
  padding-bottom: 30px;

}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

/* Постійні клієнти */
.list-client {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.list-client>.item {
  flex-basis: calc((100% - 30px * 6) / 6);
  margin-top: 30px;
  margin-left: 30px;

}

.link-client {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  transition: fill var(--animation), border var(--animation);
}

.link-client:hover,
.link-client:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

/* Сайт портфоліо */

/* Список фильтрів */
.filter-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-menu .button-menu {
  padding: 6px 22px;
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: color var(--animation), cubic-bezier(0.4, 0, 0.2, 1);
}

.button-menu:hover,
.button-menu:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: var(--accent-color);
}

.filter-menu>.item:not(:last-child) {
  margin-right: 8px;
}

/* < !-- Наші проекти --> */
.projects-item {
  margin-bottom: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.description {
  padding: 20px 24px;
  background: #FFFFFF;
  cursor: pointer;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  transition: var(--animation), border var(--animation);
}

.description:hover,
.description:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Наші проекти */
.projects .link {
  color: var(--primary-text-color);
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects>.item:not(:lact-child) {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.projects p {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

/* Підвал */
.bg-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-footer-background);
}

.bg-footer .container {
  justify-content: space-between;
  display: flex;

}

.widget-blok {
  flex-basis: calc((50% - 15px) / 2);
}

.widget-blok:last-child {
  flex-basis: calc(50% - 15px);
}

.join {
  margin-bottom: 20px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
  
}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
  transform: color var(--animation), backround-color var(--animatiom);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--accent-color);
  fill: #FFFFFF;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #FFFFFF;
  
}

.address {
  font-size: 14px;
  line-height: 1.71;
  color: #FFFFFF;
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.78;
  color: rgba(255, 255, 255, 0.6);
}

.item-footer {
  margin-bottom: 10px;
}

/* Modal */

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 120;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden{
  visibility:hidden;
  opacity:0;
  pointer-events:none;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
 width: 100%;
 transform: translate(-50%, -50%);
 max-width: 528px;
 min-height: 581px;
 background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.btn-close{
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items:center;
  display: block;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
}

.form-s{
  color: var(--accent-color);
  text-decoration-line: underline;
}

.button-form{
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  cursor: pointer;
  background: #2196F3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: transparent;
  margin: 0 auto;
  display: block;
}

textarea{
  resize: none;
  width: 448px;
  height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form{
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
}

.form-fieled{
margin-bottom: 15px;
display: flex;
flex-direction: column;
}

.form-fieled input{
  margin: 0;
  padding: 10px 20px;
  border: 1px solid rgba(33, 33, 33, 0.2); 
  border-radius: 4px;
  }
  
  .form-fieled label{
      margin-bottom: 5px;
  }


.group{
    margin-bottom: 20px;
}

.topic-options,
.expirience-optios{
    padding: 0;
    margin: 0;
    list-style: none;
}

.topic-options li{
    display: flex;
    align-items: center;
}

.topic-options label{
    font-size: 20px;
    margin-left: 10px;
}

.uses {
  background: #212121;
}


.name-for{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575; 
}

.button-footer{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 200px;
  border-radius: 4px;  
  letter-spacing: 0.06em;
  cursor: pointer;
  background: var(--accent-color);
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border: transparent;
  fill: #FFFFFF;
  transition: color var(--animation), background-color var(--animation);
}



.button-footer:hover,
.button-footer:focus {
  background-color: var(--accent-color);
}

.button-footer-name{
  fill: currentColor;
  margin-left: 10px;
}

.list-s{
width: 350px;
border-radius: 4px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 16px;
border: 1px solid rgba(255, 255, 255, 0.3);
color: rgba(255, 255, 255, 0.3);
background-color:var(--hero-footer-background);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
line-height: 1.25;
letter-spacing: 0.03em;
margin-right: 12px;

}


.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover .project-overlay,
.projects-link:focus .project-overlay {
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
}

.project-overlay>p {
  padding: 63px 24px;
  color: #ffffff;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}